/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
 
html,body{
    height: 100%;
    box-sizing: border-box;
    position: relative;
      }


      .footer {
        font-size: 1rem;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0; 
        color:blueviolet;
        background-color: #a88fe2;
        text-align: center;
        padding-bottom: 1px;
    }